tesseract-ocr
poppler-utils
libxext-dev
libsm-dev
libxrender-dev
flask
flasgger
dateparser
sklearn
keras
tensorflow
numpy
pdf2image

DateTime
pyngrok
setuptools
Pillow
pdfplumber
simplejson
tqdm
PyPDF2
pytesseract
Wand
datefinder
pandas
scikit-learn

argparse